:root {
  --main-color: #FFFFFF;
  --blue-dark-color: #278b91;
  --blue-light-color: #41a5aa;
  --text-color: #28224b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: var(--main-color);
}

hr {
  opacity: .3;
}